<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Greatest Common Factor Calculator</title>
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}" >
    </head>
    <body>

        <div class="container">
        <h1>Greatest Common Factor Calculator</h1>
        <hr>

        <!-- Form for entering two positive integers for gcf -->
        <div class="row">
            <div class="col-sm-4">
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.num1.label }}<br>
                    {{ form.num1(class="form-control-sm") }}
                </div>
                <div class="form-group">
                    {{ form.num2.label }}<br>
                    {{ form.num2(class="form-control-sm") }}
                </div>
                {{ form.result(class="btn btn-primary")}}
                <a href="{{url_for('gcf') }}"  class="btn btn-primary">Reset</a>
            </form>
            </div>

            <!-- Definition of greatest common factor -->
            <div class="col-sm-8 card">
                <div class="card-body">
                <h2>What is the Greatest Common Factor?</h2>
                <p>
                    The greatest common factor (GCF or GCD or HCF) of a set of whole numbers
                    is the largest positive integer that divides evenly into all numbers
                    with zero remainder. For example, for the set of numbers 18, 30  the GCF = 6.
                </p>
                </div>
            </div>

             <!-- print out result -->
            {%  with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="col-sm-12 mt-5 shadow-lg p-3 bg-white rounded">
                <strong>{{messages[0]}}</strong>
            </div>
            {% endif %}
            {% endwith %}
        </div>
        </div>
    </body>
</html>
